@charset "utf-8";

body > .wrapper {
    overflow: hidden;
}

/* ===================================================================== */
/* FV * /
/* ===================================================================== */
.bg-img {
    width: 100%;
    height: 100%;
    animation: bg-color 15s ease-in-out infinite;
    position: relative;
}

.bg-img::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("img/duotone_tokyo.png") no-repeat center center;
    background-size: cover;
    mix-blend-mode: luminosity;
}

@keyframes bg-color {
    0% {
        background-color: #0040fd;
    }
    25% {
        background-color: #f800dc;
    }
    50% {
        background-color: #d2ff00;
    }
    75% {
        background-color: #00ff27;
    }
    100% {
        background-color: #0040fd;
    }
}


#fv {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 172px;
    padding-bottom: 50px;
}

.top-catch h1 {
    font-size: 4rem;
    line-height: 1.7;
    letter-spacing: .18em
}

.top-catch p {
    font-size: 10rem;
    font-weight: 300;
    line-height: 1;
    text-align: left;
    margin-bottom: 60px;
}

.top-catch p.top-title {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.7;
    margin-bottom: 55px;
}

.top-descr {
    width: 42%;
    position: relative;
}

.top-descr p.top-title {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.7;
    margin-bottom: 30px;
}

.top-logo {
    width: 524px;
    height: 658px;
    position: relative;
    z-index: 1;
}

.top-logo::before {
    content: "";
    width: 444px;
    height: 658px;
    border: 2px solid #00ff27;
    border-radius: 240px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
}

.top-logo .top-logo-slider {
    width: 100%;
    position: absolute;
    top: 46.8%;
    left: -10px;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translateY(-50%);
}

.top-logo > img {
    width: 524px;
    position: absolute;
    left: 0;
    right: 0;
    top: 74.5%;
    transform: translateY(-50%);
    margin: auto;
}

.top-url {
    position: absolute;
    right: 0;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    bottom: 83px;
    letter-spacing: 0.8px;
    padding: 56px;
    z-index: 99;
}

.top-url p {
    font-size: 2.5rem;
    font-weight: 300;
}

@media only screen and (max-width: 1740px) {

    #fv .container {
        /*max-width: 1218px;*/
    }

    .top-catch h1 {
        font-size: 3.5rem;
    }

    .top-catch p {
        font-size: 8.75rem;
        margin-bottom: 52.5px;
    }

    .top-logo {
        /*width: 458.5px;*/
        /*height: 575.75px;*/
    }

    .top-logo::before {
        content: "";
        /*width: 388.5px;*/
        /*height: 575.75px;*/
    }

    .top-logo .top-logo-slider {
        /*width: 458.5px;*/
        /*top: 122.5px;*/
    }

    .top-logo > img {
        /*width: 458.5px;*/
        /*bottom: 122.5px;*/
    }

    .top-url {
        bottom: 160px;
    }

}

@media only screen and (max-width: 1580px) {


    #fv .container {
        /*max-width: 1044px;*/
    }

    .top-catch h1 {
        font-size: 3rem;
    }

    .top-catch p {
        font-size: 7.5rem;
        margin-bottom: 45px;
    }

    .top-logo {
        /*width: 393px;*/
        /*height: 493.5px;*/
    }

    .top-logo::before {
        content: "";
        /*width: 333px;*/
        /*height: 493.5px;*/
    }

    .top-logo .top-logo-slider {
        /*width: 393px;*/
        /*top: 105px;*/
    }

    .top-logo > img {
        /*width: 393px;*/
        /*bottom: 105px;*/
    }

    .top-url {
        bottom: 137.25px;
    }

    .recruit-menu li a{
        font-size: 18px;
    }

}


@media only screen and (max-width: 767px) {

    #fv {
        padding-top: 120px;
        padding-bottom: 60px;
    }

    #fv > .flex-L {
        width: 100%;
        flex-flow: row wrap;
    }

    .top-catch {
        text-align: left;
    }

    .top-catch h1 {
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .top-catch p {
        font-size: 4.5rem;
        margin-bottom: 20px;
    }

    .top-catch p.top-title {
        margin-bottom: 0;
    }

    .top-descr {
        text-align: left;
        margin-left: 0;
    }

    .top-descr p.top-title {
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .top-logo {
        width: 205px;
        height: 258px;
        margin: 0 auto;
    }

    .top-logo::before {
        width: 174px;
        height: 258px;
    }

    .top-logo .top-logo-slider {
        width: 205px;
        height: 258px;
        top: 45px;
        margin: 0 auto;
    }

    .top-logo img {
        bottom: 60px;
    }

    .top-url {
        padding: 0;
        padding-right: 15px;
        top: 235px;
        bottom: auto;
    }

    .top-url p {
        font-size: 1.6rem;
    }

}

/* ===================================================================== */
/*  About * /
/* ===================================================================== */
#about > .flex-L {
    align-items: center;
}

#about .title-box {
    width: 100%;
    max-width: 594px;
    min-width: 594px;
}

#about .title-1 {
    position: relative;
    z-index: 2;
	margin: 0;
	padding: 9px 0 0px;
	line-height: 65px;
	letter-spacing: 3.6px;
	left: -3px;
}

#about .title-2 {
    white-space: nowrap;
}

.title-box {
    position: relative;
}

.title-box::before {
    content: "";
    width: 800px;
    height: 800px;
    border: 1px solid #00d8ff;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 50px;
    bottom: 0;
    margin: auto;
    z-index: -1;
}

.about-slider {
    width: 960px;
    height: 744px;
    position: absolute;
    top: 7px;
    right: 73px;
    bottom: 0;
    margin: auto;
}

.about-slider .slick-list,
.about-slider .slick-track {
    height: 100%;
}

.about-slider .img-wrap {
    height: 100%;
}

.about-slider img {
    border-radius: 0 400px 400px 0;
    object-position: 30% 50%;
}

@media only screen and (max-width: 767px) {

    #about {
        background-color: #000;
        padding-top: 218px;
    }

    #about > .flex-L {
        flex-flow: row wrap;
    }

    .title-box::before {
        width: 400px;
        height: 400px;
        left: -85px;
        right: auto;
    }

    .about-slider {
        width: 368px;
        height: 368px;
        left: -69px;
        right: auto;
    }

    #about .title-1 {
        width: 270px;
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #about .content-box {
        margin-top: 200px;
    }

    #about .content-box .text-box br {
        display: none;
    }

    #about .content-box .text-box br.br-show {
        display: block;
    }

    #about .title-2 .under-line::before {
        bottom: -20px;
    }

}

/* ===================================================================== */
/* Service * /
/* ===================================================================== */
#service > .flex-L {
    align-items: center;
    margin-bottom: 52px;
}

#service .content-box {
    width: 100%;
    max-width: 550px;
    min-width: 550px;
    margin-right: 42px;
	padding-top: 69px;
}

.service-box {
    width: 100%;
    text-align: center;
    position: relative;
}

.service-box::before {
    content: "";
    width: 800px;
    height: 800px;
    border: 1px solid #00d8ff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.service-slider {
    width: 1200px;
    height: 800px;
}

.service-slider .slick-list,
.service-slider .slick-track {
    height: 850px;
}

.service-slider .slide-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.service-slider .slide-item svg {
    transform: rotate(90deg);
    position: absolute;
    top: 28px;
    left: 28px;
    bottom: auto;
    margin: auto;
    z-index: -2;
}

.service-slider .slide-item.slick-current svg circle {
    fill: transparent;
    stroke: #00d8ff;
    stroke-width: 1;
    animation: circle .7s ease-in-out;
}

@keyframes circle {
    0% {
        stroke-dasharray: 0 2337;
    }
    99.9%, to {
        stroke-dasharray: 2337 2337;
    }
}

.service-slider .slide-item.slide-1::before {
    content: "";
    width: 100%;
    height: 744px;
    background: url("img/service_img.jpg") no-repeat left;
    background-size: cover;
    border-radius: 400px 0 0 400px;
    position: absolute;
    top: 28px;
    left: 28px;
    z-index: -1;
}

.service-box h3 {
    width: 800px;
    font-size: 6rem;
    font-weight: 300;
	position: relative;
	padding-bottom: 48px;
	letter-spacing: 6px;
	padding-right: 24px;
}

.service-slider .slide-item:not(.slide-1) h3 {
    font-family: Helvetica, 'sans-serif';
    font-size: 6rem;
}

.service-slider .slide-item p {
    width: 800px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
}

.slide-item span.next-btn {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #00d8ff;
    border-radius: 50%;
    font-family: 'freight-big-pro', serif;
    color: #000;
    font-size: 2.6rem;
    font-weight: 300;
    letter-spacing: 0;
    position: absolute;
    top: auto;
    left: -205px;
    right: 0;
    bottom: 0;
    margin: auto;
}

.service-slider .slick-prev {
    display: none !important;
}

.service-slider .slick-next {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    left: -102.5px;
    right: 0;
    margin: auto;
    position: relative;
}

.service-slider .slick-next::before {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: transparent;
    opacity: 1.0;
    border-radius: 50%;
    content: "";
}

#service .click {
    width: 800px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -85px;
    color: #00dcff;
}

#service .moving-text > div {
    display: flex;
}

#service .moving-text p {
	font-size: 12rem;
	text-align: left;
	white-space: nowrap;
	line-height: 130px;
	margin-right: 0;
	margin-left: -30px;
	letter-spacing: 6px;
}

#service .moving-text > div:nth-child(1) p {
    animation: moving 40s linear infinite;
}

#service .moving-text > div:nth-child(2) p {
    animation: moving 40s linear infinite;
}

@media only screen and (max-width: 767px) {

    #service > .flex-L {
        flex-flow: row wrap;
    }

    #service .content-box {
        max-width: 100%;
        min-width: 100%;
    }

    #service .title-1 {
        font-size: 3.8rem;
    }

    #service .title-1 .under-line::before {
        bottom: -20px;
    }

    #service .content-box .text-box {
        margin-bottom: 40px;
    }

    .service-slider .slick-list,
    .service-slider .slick-track {
        height: 449px;
    }

    .service-box::before {
        width: 400px;
        height: 400px;
        left: 0;
    }

    .service-slider {
        width: 600px;
        height: 400px;
        top: 0;
        left: 0;
        right: auto;
    }

    .service-slider .slide-item.slide-1::before {
        width: 520px;
        height: 368px;
        top: 16px;
        left: 16px;
        right: auto;
    }

    .service-box h3 {
        width: 400px;
        font-size: 2.5rem;
        padding-bottom: 30px;
    }

    .service-slider .slide-item:not(.slide-1) h3 {
        font-size: 3rem;
        line-height: 1.3;
        text-align: left;
        padding-left: 60px;
        padding-bottom: 10px;
        margin-top: -50px;
    }

    .service-slider .slide-item p {
        width: 400px;
        font-size: 2rem;
        text-align: left;
        padding-left: 60px;
    }

    .slide-item span.next-btn {
        width: 74px;
        height: 74px;
        font-size: 2rem;
        left: -100px;
        bottom: 25px;
    }

    .service-slider .slick-next,
    .service-slider .slick-next::before {
        width: 74px;
        height: 74px;
        top: -62px;
        left: -50px;
    }

}

@media only screen and (min-width: 768px) {
    .service-slider .slide-item svg:nth-child(1) {
        display: block;
    }

    .service-slider .slide-item svg:nth-child(2) {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .service-slider .slide-item svg:nth-child(1) {
        display: none;
    }

    .service-slider .slide-item svg:nth-child(2) {
        display: block;
        top: 16px;
        left: 16px;
        right: auto;
    }
}

@media only screen and (max-width: 767px) {
    #service .moving-text p {
        font-size: 4.5rem;
    }

    #service .moving-text > div:nth-child(2) p {
        display: none;
    }
}

/* ===================================================================== */
/* News * /
/* ===================================================================== */
#news {
    padding-bottom: 100px;
}

.news-list dl > div {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.news-list dl {
    text-align: left;
    padding: 40px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.news-list dt,
.news-list dd {
    font-size: 2rem;
    font-weight: 300;
}

.news-list dt {
    font-family: 'FOT-筑紫明朝 Pr6 R', '游明朝', 'Yu Mincho', 'ヒラギノ明朝 ProN W3',
    'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
    width: 100%;
    max-width: 130px;
}

.news-list dd {
    width: 100%;
    padding-right: 30px;
}

.news-list dd a {
    text-decoration: none;
    position: relative;
}

.news-list dd a span {
    border-bottom: 1px solid #fff;
}

.news-list dd a span::after {
    content: "";
    background: url("img/icon-link.svg") no-repeat center center;
    background-size: cover;
    width: 22px;
    height: 17px;
    position: absolute;
    right: -30px;
    bottom: 5px;
    transition: .3s;
}

.news-list dd a:hover span::after {
    opacity: .85;
    transition: .3s;
}

@media only screen and (max-width: 767px) {

    #news .title-1 {
        font-size: 3.8rem;
        margin-bottom: 0;
    }

    .news-list dl > div {
        display: block;
        padding-bottom: 30px;
        border-bottom: 1px solid #fff;
    }

    .news-list dl > div:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .news-list dl {
        padding: 30px 0;
    }

    .news-list dt {
        width: 100%;
        font-size: 1.2rem;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .news-list dd {
        width: 100%;
        font-size: 1.4rem;
        padding-right: 0;
    }

    .news-list dd a span::after {
        bottom: 0;
    }

}

/* ===================================================================== */
/* Company * /
/* ===================================================================== */
#company .container {
    margin-bottom: 208px;
}

.company-info dl > div {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.company-info dl {
    text-align: left;
    padding: 40px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.company-info dl:nth-child(1) {
    font-family: 'FOT-筑紫明朝 Pr6 R', '游明朝', 'Yu Mincho', 'ヒラギノ明朝 ProN W3',
    'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
    width: 53%;
}

.company-info dl:nth-child(2) {
    width: 47%;
}

.company-info dl:nth-child(1) dt {
    width: 100%;
    max-width: 123px;
}

.company-info dl:nth-child(2) dt {
    width: 100%;
    max-width: 175px;
    font-size: 1.6rem;
}

.company-info dt,
.company-info dd {
    font-weight: 300;
}

.company-info dd {
    position: relative;
}

.company-info dl:nth-child(1) a.g-map {
    display: inline-block;
    font-size: 1.2rem;
    vertical-align: top;
    text-decoration: none;
    letter-spacing: .1em;
    white-space: nowrap;
    position: relative;
}

.company-info dl:nth-child(1) a.g-map::before {
    font-family: "Material Icons";
    content: "\e0c8";
    font-size: 1.8rem;
    vertical-align: -10px;
    margin-right: 2px;
}

.company-info dl:nth-child(1) a.g-map::after {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 10px;
    left: 22px;
    transition: .3s;
}

.company-info dl:nth-child(1) a:hover.g-map::after {
    background-color: #d1d1d1;
    transition: .3s;
}

#company .moving-text {
    display: flex;
    width: 100%;
    font-size: 12rem;
    line-height: 13rem;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 6px;
}

#company .moving-text p {
    animation: moving 40s linear infinite;
}

@media only screen and (max-width: 767px) {

    #company {
        padding-top: 0;
        padding-bottom: 0;
    }

    #company .title-1 {
        font-size: 3.8rem;
        margin-bottom: 0;
    }

    .company-info {
        flex-flow: row wrap;
    }

    .company-info dl:nth-child(1),
    .company-info dl:nth-child(2) {
        width: 100%;
    }

    .company-info dl:nth-child(1) {
        border-bottom: none;
    }

    .company-info dl:nth-child(1) dt {
        max-width: 54px;
        font-size: 1.2rem;
        padding-top: 1px;
    }

    .company-info dl:nth-child(2) dt {
        max-width: 108px;
        font-size: 1rem;
        padding-top: 3px;
    }

    #company .container {
        margin-bottom: 70px;
    }

    #company .moving-text {
        font-size: 4.5rem;
    }

}

/* ===================================================================== */
/* Recruit * /
/* ===================================================================== */
#recruit .title-1 .under-line::before {
    width: 40px;
    height: 2px;
    background-color: #00ff27;
}

#recruit .recruit-menu .under-line::before {
    width: 37px;
    height: 1px;
    background-color: #00ff27;
    bottom: -20px;
}

.recruit-descr {
    width: 100%;
    max-width: 50%;
    margin-right: 0;
    padding-right: 40px;
}

.recruit-menu {
    width: 100%;
    min-width: auto;
    margin-right: -60px;
    padding-left: 9px;
    padding-top: 12px;
    max-width: calc(50% + 60px);
}

.recruit-menu ul {
    flex-flow: row wrap;
    border-bottom: 1px solid rgba(255,255,255,.50);
}

.recruit-menu li {
    width: 50%;
    margin-bottom: 55px;
}
.recruit-menu li:nth-child(2n) {
    padding-left: 49px;
}
.recruit-menu li a {
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
}
.recruit-menu li a:before{
    content: "";
    position: absolute;
    width: 37px;
    height: 1px;
    background: #00FF27;
    bottom: -10px;
    left: 0;
    transition: .5s;
}
.recruit-menu li a:hover:before{
    width: 100%;
}
.recruit-menu li a.icon-link::after {
    content: "";
    background: url("img/icon-link.svg") no-repeat center center;
    background-size: 100%;
    width: 22px;
    height: 17px;
    position: absolute;
    right: -35px;
    bottom: 5px;
    transition: .3s;
}

.recruit-menu li a.icon-link:hover::after {
    opacity: .85;
    transition: .3s;
}

@media only screen and (max-width: 767px) {

    #recruit {
        padding-top: 30px;
    }

    #recruit > .flex-L {
        flex-flow: row wrap;
    }

    .recruit-descr {
        max-width: 100%;
        margin-right: 0;
    }

    .recruit-menu {
        min-width: 100%;
        margin-right: 0;
    }

    #recruit .title-1 {
        font-size: 3.8rem;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    #recruit .title-1 .under-line::before {
        bottom: -10px;
    }

    .recruit-menu li {
        width: 100%;
        font-size: 1.6rem;
        margin-bottom: 30px;
    }

    #recruit .recruit-menu .under-line::before {
        bottom: -10px;
    }

    .recruit-menu li a.icon-link::after {
        bottom: 3px;
    }

}




